<%- include('header')%>
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <strong>Update Slider</strong>
                            </div>
                            <div class="card-body card-block">
                                <form action="/slider/updateslider" method="post" enctype="multipart/form-data" class="form-horizontal">
                                    <input type="hidden" name="editslider" value="<%= sliderdata.id %>">

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">Enter Title</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input type="text" id="text-input" name="title" value="<%= sliderdata.title %>" placeholder="First Name" class="form-control">
                                            <small class="form-text text-muted"></small>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="textarea-input" class=" form-control-label">Description</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <textarea name="content" id="textarea-input" rows="9" placeholder="Content..." class="form-control"><%= sliderdata.content %></textarea>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="file-input" class=" form-control-label">Image</label>
                                        </div>
                                        <div class="col-12 col-md-9 d-flex">
                                            <input type="file" id="file-input" name="image" class="form-control-file">
                                            <img src="<%= sliderdata.image %>" height="100" width="100" alt="">
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" name="submit" class="btn btn-primary btn-sm">
                                                    <i class="fa fa-dot-circle-o"></i> Submit
                                                </button>
                                        <button type="reset" class="btn btn-danger btn-sm">
                                                    <i class="fa fa-ban"></i> Reset
                                                </button>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>


                </div>
                <%- include('footer') %>